{% extends "core/base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block active_seminars_menu %}active{% endblock active_seminars_menu %}

        {% block everything %}
        <!-- begin #work -->
        <div class="content">
            <!-- begin container -->
            <div class="container">
                <h2 class="content-title">{% block seminar_title %}{% endblock seminar_title %}</h2>
                <p class="content-desc">
                    {% block seminar_subtitle %}{% endblock seminar_subtitle %}
                </p>
                <div class="row">
                    <img class="center-block img-fluid" src="{% block seminar_image %}{% endblock seminar_image %}" alt="{% block seminar_image_description %}{% endblock seminar_image_description %}"/>
                </div>
                {% block what_is_thetahealing %}{% endblock what_is_thetahealing %}
                <div class="row">
                    <h4>O curso aborda:</h4>
                    {% block seminar_content %}{% endblock seminar_content %}
                </div>
                <div class="row">
                    <h4>O curso inclui:</h4>
                    {% block seminar_material %}{% endblock seminar_material %}
                </div>
                <div class="row">
                    <h4>Pré-requisitos:</h4>
                    {% block seminar_prereq%}{% endblock seminar_prereq%}
                </div>
                {% block carol_instructor %}
                <div class="row">
                    <h4>Ministrado por:</h4>
                    <p>Carolina Alves</p>
                    <p>Instrutora Master certificada pelo THInK e com mais de 15 cursos de ThetaHealing®, incluindo Anatomia Intuitiva e Criança Arco-íris, com 1 ano de experiência trabalhando com adultos, jovens e empresas.</p>
                </div>
                <div class="row">
                    <h4>Quem sou eu?</h4>
                    <p>Tudo começou quando o ThetaHealing® mudou a minha vida, me apaixonei pela técnica e senti um chamado que eu precisava levar isso a mais pessoas.</p>
                    <p>Todos nós temos padrões que nos impedem de viver nossa vida da forma que gostaríamos. Padrões que adquirimos durante toda nossa vida, assim, nos bloqueamos para as coisas boas que o Universo tem para nos dar.</p>
                    <p>Minha missão é te ajudar a liberar esses padrões e viver seus sonhos e sua vida da maneira que você deseja!</p>
                    <p>Vamos juntos?</p>
                    <p>Carolina Alves,<br />
                    Terapeuta apaixonada pela vida.</p>
                </div>
                {% endblock carol_instructor %}
                {% block matheus_instructor %}
                <div class="row">
                    <h4>Ministrado por:</h4>
                    <p>Matheus Figueiredo</p>
                    <p>Instrutor Master e Science com mais de 25 cursos de ThetaHealing®, incluindo Anatomia Intuitiva, Doenças e Desordens e Planos de Existência, com vários anos de experiência trabalhando com adultos, jovens e empresas.</p>
                </div>
                <div class="row">
                    <h4>Quem sou eu?</h4>
                    <p>Conheci o ThetaHealing® fazendo uma sessão para resolver uma questão de infância, que acabou se estendendo para minha carreira e mudando totalmente o rumo de minha empresa de tecnologia.</p>
                    <p>Com a sessão consegui fechar alguns contratos que estavam se postergando há mais de três meses e com isso a empresa aumentou de tamanho e tivemos que contratar mais pessoas.</p>
                    <p>O resultado foi tão impressionante que eu só falava sobre o ThetaHealing® para todas as pessoas ao meu redor. Sobre como tinha mudado minha vida e como era muito legal a forma como as coisas eram.</p>
                    <p>Quando a oportunidade surgiu fiz o curso DNA Básico em 2015 e a partir daí foi um curso após o outro, levando esta maravilhosa técnica como hobbie, enquanto ainda mantinha minha carreira e empresa na área de desenvolvimento de software.</p>
                    <p>Mas chegou uma hora em que o hobbie começou a falar mais alto e a ser mais satisfatório do que a computação e resolvi mudar totalmente de área, para algo mais humano e que me fazia mais feliz.</p>
                    <p>Atualmente minha missão é levar esta técnica linda para a maior quantidade de pessoas possíveis para que elas possam sentir as mudanças em suas vidas assim como eu senti na minha!</p>
                    <p>Matheus Figueiredo</p>
                </div>
                {% endblock matheus_instructor %}
                {% block both_instructors %}{% endblock both_instructors %}
                <div class="row">
                    <h4>Data e local:</h4>
                    <p>Data: {% block seminar_date %}{% endblock seminar_date %}</p>
                    <p>Horário: {% block seminar_time %}{% endblock seminar_time %}</p>
                    <p>Endereço: {% block seminar_location %}{% endblock seminar_location %}</p>
                </div>
                <div class="row">
                    <h4>Pagamentos:</h4>
                    <p>Para garantir sua vaga, é necessário o pagamento da taxa de inscrição.<br />
                    Formas de pagamentos escolhidas como transferência bancária/depósito devem ser feitas na seguinte conta:</p>
                </div>
                <div class="row">
                    <p>Banco: Bradesco<br />
                    Agência:  6444<br />
                    Conta: 0000851-6<br />
                    Titular: Ana Carolina Alves Silva<br />
                    CPF: 402.117.748-55</p>
                    <p>*Após o pagamento da inscrição e/ou curso, deve ser enviado o comprovante para o e-mail: imfterapiasfinanceiro@gmail.com ou WhatsApp: +5511996495349.</p>
                    <p>*Sua inscrição só será confirmada após a confirmação do pagamento da mesma.</p>
                    <p>*Formas de pagamento via cartão de crédito deve ser solicitado o link no WhatsApp.</p>
                    <p>*A inscrição é não reembolsável e pode ser utilizada para próximos cursos.</p>
                </div>
                <div class="row">
                    <h4>Investimento:</h4>
                    <p>Inscrição: {% block seminar_inscription %}{% endblock seminar_inscription %}</p>
                    <p>Curso à vista: {% block seminar_price %}{% endblock seminar_price %}</p>
                    <p>Curso parcelado: Entre em contato para informações de pagamento parcelado</p>
                </div>
                <div class="row">
                    <h4>Inscrição:</h4>
                    <p>{% block seminar_url %}{% endblock seminar_url %}</p>
                </div>
            </div>
            <!-- end container -->
        </div>
        <!-- end #work -->
        {% endblock everything %}
