{% extends "core/base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block postcss %}
<link href="{% static 'seminars/css/seminars.css' %}" rel="stylesheet" />
{% endblock postcss %}

{% block active_seminars_menu %}active{% endblock active_seminars_menu %}

        {% block everything %}
        <!-- begin #work -->
        <div class="content">
            <!-- begin container -->
            <div class="container">
                <h2 class="content-title">{% if seminar_type.modality == 0 %}ThetaHealing®{% elif seminar_type.modality == 1 %}Access Consciousness®{% endif %} {{ seminar_type.name }}</h2>
                {% block seminar_date_info %}{% endblock seminar_date_info %}
                <p class="content-desc">{{ seminar_type.short_description }}</p>
                <div class="row">
                    <img class="center-block img-fluid seminar-image" src="{% static seminar_type.image_url %}" alt="{{ seminar_type.name }} - {% if seminar_type.modality == 0 %}ThetaHealing®{% elif seminar_type.modality == 1 %}Access Consciousness®{% endif %}"/>
                </div>

                {% if seminar_type.url == 'dna-basico' %}
                <div class="row">
                    <h4>O que é o ThetaHealing®?</h4>
                    <p>ThetaHealing é um reencontro com sua essência.</p>
                    <p>É uma técnica de cura energética que irá te ensinar a identificar e liberar crenças e padrões que te impedem de ser feliz.</p>
                    <p>Através desta ferramenta simples, que qualquer pessoa pode acessar, você aprende a olhar para dentro, se reconectando profundamente com sua essência. Você aprende a curar, a perdoar, a se realizar, vivendo de uma forma abundante, saudável e plena.</p>
                    <p>São crescentes as comprovações científicas de que nossas crenças e emoções negativas geram doenças físicas, mentais e emocionais e nos bloqueiam de realizar algo que nos faz pleno e feliz. Precisamos liberar ressentimentos e tristezas antigas, culpas e medos para poder viver a vida em seu potencial máximo.</p>
                </div>
                {% endif %}

                <div class="row">
                    <h4>O curso aborda:</h4>
                    {{ seminar_type.description|linebreaks }}
                </div>
                <div class="row">
                    <h4>O curso inclui:</h4>
                    {% for material in seminar_type.materials.all %}
                    <p>- {{ material }}</p>
                    {% endfor %}
                </div>
                <div class="row">
                    <h4>Pré-requisitos:</h4>
                    {% if seminar_type.prerequisites.all  %}
                    {% for seminar in seminar_type.prerequisites.all %}
                    <p>- {{ seminar_type.name }}
                    {% endfor %}
                    {% else %}
                    <p>Não há pré-requisitos.</p>
                    {% endif %}
                </div>

                {% block seminar_info %}{% endblock seminar_info %}

            </div>
            <!-- end container -->
        </div>
        <!-- end #work -->
        {% endblock everything %}
