{% extends "core/base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block postcss %}
<link href="{% static 'seminars/css/seminars.css' %}" rel="stylesheet" />
{% endblock postcss %}

{% block active_seminars_menu %}active{% endblock active_seminars_menu %}

        {% block everything %}
        <!-- begin #work -->
        <div class="content">
            <!-- begin container -->
            <div class="container">
                <div class="row text-center">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li>
                            <h3 {% if message.tags %} class="{{ message.tags }} inscription"{% endif %}>{{ message }}</h3>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <h2 class="content-title">{% if seminar_type.modality == 0 %}ThetaHealing®{% elif seminar_type.modality == 1 %}Access Consciousness®{% endif %} {{ seminar_type.name }}</h2>
                <p class="content-desc">{{ seminar_type.short_description }}</p>

                {% if seminar_type.url == 'dna-basico' %}
                <div class="row text-center">
                    <h4>O que é o ThetaHealing®?</h4>
                    <div class="row">
                        <iframe class="col-md-8 col-md-offset-2" height="" src="https://www.youtube.com/embed/IhrR4Oj2nUg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <h4>O curso aborda:</h4>
                    {{ seminar_type.description|linebreaks }}
                </div>

                {% block seminar_info %}{% endblock seminar_info %}

                {% block seminar_materials %}{% endblock seminar_materials %}
                {% block seminar_pre_requisites %}{% endblock seminar_pre_requisites %}
                {% block next_seminars %}{% endblock next_seminars %}
                {% block seminar_inscription %}{% endblock seminar_inscription %}

            </div>
            <!-- end container -->
        </div>
        <!-- end #work -->
        {% endblock everything %}

        {% block javascript %}
            {{ block.super }}
            <script src="{% static 'seminars/js/modal.js' %}"></script>
            <script src="{% static 'core/js/youtube.js' %}"></script>
        {% endblock javascript %}
