{% extends "seminars/base-seminars.html" %}
{% load i18n %}
{% load static from staticfiles %}

                {% block seminar_title %}
                    {% trans 'ThetaHealing® DNA Básico' %}
                {% endblock seminar_title %}

                {% block seminar_subtitle %}
                    {% trans 'A porta de entrada para este fascinante mundo do ThetaHealing®. Onde você começará a mudar seus padrões de vida!' %}
                {% endblock seminar_subtitle %}

                {% block seminar_image %}
                    {% static 'core/img/basic.png' %}
                {% endblock seminar_image %}
                {% block seminar_image_description %}
                    {% trans 'DNA Básico - ThetaHealing' %}
                {% endblock seminar_image_description %}

                {% block what_is_thetahealing %}
                <div class="row">
                    <h4>O que é o ThetaHealing®?</h4>
                    <p>ThetaHealing é um reencontro com sua essência.</p>
                    <p>É uma técnica de cura energética que irá te ensinar a identificar e liberar crenças e padrões que te impedem de ser feliz.</p>
                    <p>Através desta ferramenta simples, que qualquer pessoa pode acessar, você aprende a olhar para dentro, se reconectando profundamente com sua essência. Você aprende a curar, a perdoar, a se realizar, vivendo de uma forma abundante, saudável e plena.</p>
                    <p>São crescentes as comprovações científicas de que nossas crenças e emoções negativas geram doenças físicas, mentais e emocionais e nos bloqueiam de realizar algo que nos faz pleno e feliz. Precisamos liberar ressentimentos e tristezas antigas, culpas e medos para poder viver a vida em seu potencial máximo.</p>
                </div>
                {% endblock what_is_thetahealing %}

                {% block seminar_content %}
                    <p>A partir curso de DNA Básico você irá:</p>
                    <p>- Liberar bloqueios energéticos que impedem o seu progresso pessoal e espiritual.</p>
                    <p>- Identificar e mudar crenças, emoções e padrões bloqueadores criando uma nova realidade em sua vida.</p>
                    <p>- Gerar curas físicas, mental, emocional e espiritual através da frequência de Onda Cerebral Theta e da conexão direta com o Criador.</p>
                    <p>- Ser pleno e viver na sua melhor versão.</p>
                    <p>- Acessar seu propósito de vida e manifesta-lo no plano material.</p>
                    <p>- Utilizar sua intuição com consciência em todas as situações de sua vida.</p>
                    <p>- Aplicar o ThetaHealing em si mesmo e nos outros.</p>
                    <p>- Ativar o DNA e o cromossomo da juventude e vitalidade.</p>
                    <p>- Ver e falar com seus anjos da guarda.</p>
                    <p>- Desbloquear tudo que impede de receber toda abundância do Universo.</p>
                    <p>O curso de DNA Básico é a oportunidade de mudar e viver sua vida da maneira que você deseja.</p>
                {% endblock seminar_content %}

                {% block seminar_material %}
                    <p>- Apostila</p>
                    <p>- Livro ThetaHealing®</p>
                    <p>- Coffee Break</p>
                    <p>- Certificado internacional do THInK - EUA</p>
                    <p>- Cadastro no site oficial do ThetaHealing®</p>
                {% endblock seminar_material %}

                {% block seminar_prereq%}
                    <p>Não há pré-requisitos.</p>
                {% endblock seminar_prereq%}

                {% block seminar_instructor %}
                    <p>Carolina Alves</p>
                    <p>Instrutora Master certificada pelo THInK e com mais de 15 cursos de ThetaHealing®, incluindo Anatomia Intuitiva e Criança Arco-íris, com 1 ano de experiência trabalhando com adultos, jovens e meio corporativo.</p>
                {% endblock seminar_instructor %}

                {% block instructor_history %}
                    <p>Tudo começou quando o ThetaHealing® mudou a minha vida, me apaixonei pela técnica e senti um chamado que eu precisava levar isso a mais pessoas.</p>
                    <p>Todos nós temos padrões que nos impedem de viver nossa vida da forma que gostaríamos. Padrões que adquirimos durante toda nossa vida, assim, nos bloqueamos para as coisas boas que o Universo tem para nos dar.</p>
                    <p>Minha missão é te ajudar a liberar esses padrões e viver seus sonhos e sua vida da maneira que você deseja!</p>
                    <p>Vamos juntos?</p>
                    <p>Carolina Alves,<br />
                    Terapeuta apaixonada pela vida.</p>
                {% endblock instructor_history %}

                {% block seminar_date %}12, 13 e 14 de julho de 2019{% endblock seminar_date %}
                {% block seminar_time %}sexta-feira das 18:00 às 22:00, sábado e domingo das 09:00 às 18:00{% endblock seminar_time %}
                {% block seminar_location %}À confirmar{% endblock seminar_location %}

                {% block seminar_inscription %}R$197,00 até o dia 10/07/2019, após este dia o valor é R$250,0{% endblock seminar_inscription %}
                {% block seminar_price %}R$1.290,00{% endblock seminar_price %}

                {% block seminar_url %}http://bit.ly/dnabasicoimf{% endblock seminar_url %}
