{% extends "seminars/base-seminars.html" %}
{% load i18n %}
{% load static from staticfiles %}


                {% block seminar_info %}
                <div class="row">
                    <h4>Data e local:</h4>
                    <p>Data: {% language 'pt_BR' %}{{ seminar.start_date |date:"d F" }} a {{ seminar.end_date |date:"d F" }}{% endlanguage %}</p>
                    <p>Horário: {% if seminar.date_time_info %}{{ seminar.date_time_info }}{% else %}Das {{ seminar.start_time }} até {{ seminar.end_time }}{% endif %}</p>
                    <p>Endereço: {{ seminar.location.street }} {% if seminar.location.number %}{{ seminar.location.number }} {% endif %}{{ seminar.location.complement }} - {{ seminar.location.district }} - {{ seminar.location.city }}/{{ seminar.location.state }}</p>
                </div>
                <div class="row">
                    <h4>Investimento:</h4>
                    <p>Inscrição: {{ seminar_type.early_inscription_price }}</p>
                    <p>Curso à vista: {{ seminar_type.price }}</p>
                    <p>Curso parcelado: Entre em contato para informações de pagamento parcelado</p>
                </div>
                <div class="row">
                    <h4>Pagamentos:</h4>
                    <p>Para garantir sua vaga, é necessário o pagamento da taxa de inscrição.<br />
                    Formas de pagamentos escolhidas como transferência bancária/depósito devem ser feitas na seguinte conta:</p>
                </div>
                <div class="row">
                    <p>Banco: Bradesco<br />
                    Agência:  6444<br />
                    Conta: 0000851-6<br />
                    Titular: Ana Carolina Alves Silva<br />
                    CPF: 402.117.748-55</p>
                    <p>*Após o pagamento da inscrição e/ou curso, deve ser enviado o comprovante para o e-mail: imfterapiasfinanceiro@gmail.com ou WhatsApp: +55 11 99649-5346.</p>
                    <p>*Sua inscrição só será confirmada após a confirmação do pagamento da mesma.</p>
                    <p>*Formas de pagamento via cartão de crédito deve ser solicitado o link no WhatsApp.</p>
                    <p>*A inscrição é não reembolsável e pode ser utilizada para próximos cursos.</p>
                </div>
                {% endblock seminar_info %}

                {% block seminar_inscription %}
                <div id="myBtn" class="row form-style inscription">
                    <form>
                        <input type="button" value="Me inscrever nesta turma!" />
                    </form>
                </div>

                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content form-style">
                        <span class="close">&times;</span>
                        <div class="row">
                            <h3>Venha viver essa mudança conosco!</h3>
                            <form method="POST" action="{% url 'seminars:inscription' %}">
                            {% csrf_token %}
                                <fieldset>
                                    <h5>Nome:</h5>
                                    <input type="text" name="name" placeholder="Nome Completo *">
                                    <div class='row'>
                                        <div class="col-md-2">
                                            <h5>DDI:</h5>
                                            <input type="text" name="ddi" placeholder="DDI *" value="+55">
                                        </div>
                                        <div class="col-md-10">
                                            <h5>Telefone:</h5>
                                            <input id="phone" type="text" name="phone" placeholder="(xx)xxxxx-xxxx *">
                                        </div>
                                    </div>
                                    <h5>E-mail:</h5>
                                    <input type="text" name="email" placeholder="E-mail *">
                                    <input type="hidden" name="seminar" value="{{ seminar.id }}">
                                </fieldset>
                                <input type="submit" value="Me inscrever!" />
                            </form>
                        </div>
                    </div>

                </div>
                {% endblock seminar_inscription %}





