{% extends "seminars/base-seminars.html" %}
{% load i18n %}
{% load static from staticfiles %}

                {% block seminar_title %}
                    {% trans 'ThetaHealing® Aprofundando no Digging' %}
                {% endblock seminar_title %}

                {% block seminar_subtitle %}
                    {% trans 'Torne-se um especialista na sutil arte do Digging.' %}
                {% endblock seminar_subtitle %}

                {% block seminar_image %}
                    {% static 'core/img/dig-deeper.png' %}
                {% endblock seminar_image %}
                {% block seminar_image_description %}
                    {% trans 'Aprofundando no Digging - ThetaHealing' %}
                {% endblock seminar_image_description %}

                {% block seminar_content %}
                    <p></p>
                    <p>Com o Digging você terá clareza e confiança em como chegar diretamente na crença raíz de seus clientes e de si mesmo. Adquira consciência de como o ThetaHealing é uma técnica simples, rápida e eficaz.</p>
                    <p>Você conseguirá resolver o que impede que a saúde, a alegria e a abundância fluam em todos os níveis da sua vida.</p>
                    <p>Será abordado:</p>
                    <p>- Novas técnicas de fazer o trabalho de crenças;</p>
                    <p>- Atalhos para o Digging;</p>
                    <p>- Esquema de como fazer um bom digging;</p>
                    <p>- Trabalho de crenças temáticos.</p>
                {% endblock seminar_content %}

                {% block seminar_material %}
                    <p>- Apostila</p>
                    <p>- Coffee Break</p>
                    <p>- Certificado internacional do THInK - EUA</p>
                    <p>- Cadastro no site oficial do ThetaHealing®</p>
                {% endblock seminar_material %}

                {% block seminar_prereq%}
                    <p>DNA Básico e DNA Avançado</p>
                {% endblock seminar_prereq%}

                {% comment %}-- Here goes the name of the instructors whom won't gonna teach the seminar -- {% endcomment %}
                {% block matheus_instructor %}{% endblock matheus_instructor %}
                {% block carol_instructor %}{% endblock carol_instructor %}

                {% block seminar_date %}Sem data definida{% endblock seminar_date %}
                {% block seminar_time %}Sábado e domingo das 09:00 às 18:00{% endblock seminar_time %}
                {% block seminar_location %}À confirmar{% endblock seminar_location %}

                {% block seminar_inscription %}R$197,00 {% comment %}até o dia 10/07/2019, após este dia o valor é R$250,00{% endcomment %}{% endblock seminar_inscription %}
                {% block seminar_price %}R$1.290,00{% endblock seminar_price %}

                {% block seminar_url %}{% comment %}<a href='http://bit.ly/diggingoimfsp' target="_blank" >Clique aqui</a></p>{% endcomment %}Sem data prevista{% endblock seminar_url %}
