{% extends "seminars/base-seminars.html" %}
{% load i18n %}
{% load static from staticfiles %}

                {% block seminar_title %}
                    {% trans 'ThetaHealing® DNA 3' %}
                {% endblock seminar_title %}

                {% block seminar_subtitle %}
                    {% trans 'Aumente ainda mais seus poderes psíquicos. Um curso onde o impossível se torna possível' %}
                {% endblock seminar_subtitle %}

                {% block seminar_image %}
                    {% static 'core/img/dna-3.png' %}
                {% endblock seminar_image %}
                {% block seminar_image_description %}
                    {% trans 'DNA 3 - ThetaHealing' %}
                {% endblock seminar_image_description %}

                {% block seminar_content %}
                    <p>Neste curso iremos fazer alguns exercícios bem divertidos, como por exemplo:</p>
                    <p>- Alinhar as suas moléculas eternas;</p>
                    <p>- Telecinese (mover objetos sem tocá-los com as mãos);</p>
                    <p>- Mudar o sabor da água;</p>
                    <p>- Trocar crenças só de estar próximo a alguém;</p>
                    <p>- Ver intuitivamente objetos de olhos fechados;</p>
                    <p>E muito mais...</p>
                {% endblock seminar_content %}

                {% block seminar_material %}
                    <p>- Apostila</p>
                    <p>- Coffee Break</p>
                    <p>- Certificado internacional do THInK - EUA</p>
                {% endblock seminar_material %}

                {% block seminar_prereq%}
                    <p>DNA Básico, DNA Avançado, Aprofundando no Digging e Anatomia Intuitiva</p>
                {% endblock seminar_prereq%}

                {% comment %}-- Here goes the name of the instructors whom won't gonna teach the seminar -- {% endcomment %}
                {% block carol_instructor %}{% endblock carol_instructor %}

                {% block seminar_date %}22 a 26 de julho{% endblock seminar_date %}
                {% block seminar_time %}Das 09:00 às 18:00{% endblock seminar_time %}
                {% block seminar_location %}À confirmar{% endblock seminar_location %}

                {% block seminar_inscription %}R$260,00 até o dia 17/07/2019, após este dia o valor é R$300,00{% endblock seminar_inscription %}
                {% block seminar_price %}R$3.500,00{% endblock seminar_price %}

                {% block seminar_url %}<a href='http://bit.ly/dna3imfsp' target="_blank" >Clique aqui</a></p>{% endblock seminar_url %}
