{% extends "seminars/base-seminars.html" %}
{% load i18n %}
{% load static from staticfiles %}

                {% block seminar_title %}
                    {% trans 'ThetaHealing® Anatomia Intuitiva' %}
                {% endblock seminar_title %}

                {% block seminar_subtitle %}
                    {% trans 'Faça uma viagem emocionante pelo corpo humano e alcançe um "outro nível" dentro do ThetaHealing®.' %}
                {% endblock seminar_subtitle %}

                {% block seminar_image %}
                    {% static 'core/img/intuitive-anatomy.png' %}
                {% endblock seminar_image %}
                {% block seminar_image_description %}
                    {% trans 'Anatomia Intuitiva - ThetaHealing' %}
                {% endblock seminar_image_description %}

                {% block seminar_content %}
                    <p>Em todos os dias há sessões práticas para escanear o corpo e seus sistemas com bastante compreensão e detalhes, há o encontro e comunicação com os orgãos, trabalho e percepção das crenças de cada um dos sistemas do corpo e então testemunho com muita clareza enquanto o Criador cura as doenças e é possível perceber intuitivamente como Ele guia um ou vários remédios para ajudar o corpo a se auto-curar.</p>
                    <p>À medida que os ossos são curados, percebe-se que há problemas de suporte e força. À medida que os sistemas sexuais e digestivos são limpos, percebe-se que existem problemas profundos de traumas e abusos. Quando o sistema nervoso é trabalhado, bloqueios de comunicação e conexão com o mundo são restaurados - permitindo que o aluno receba e responda a verdades sem medo.</p>
                    <p>A pele lida com a beleza e valor próprio, e os olhos possuem programas relacionados ao ego. Conheça os rins e as doenças relacionadas a eles, e cumprimento o fígado e seus problemas com raiva e ressentimentos. Aprenda os padrões emocionais que permitem fungus, cândida e parasitas a prosperarem. E explore os sistemas endócrinos, respiratórios e circulatórios, cérebro, ouvidos, músculos e muito mais.</p>
                {% endblock seminar_content %}

                {% block seminar_material %}
                    <p>- Apostila</p>
                    <p>- Atlas do corpo humano</p>
                    <p>- Coffee Break</p>
                    <p>- Certificado internacional do THInK - EUA</p>
                {% endblock seminar_material %}

                {% block seminar_prereq%}
                    <p>DNA Básico, DNA Avançado e Aprofundando no Digging</p>
                {% endblock seminar_prereq%}

                {% comment %}-- Here goes the name of the instructors whom won't gonna teach the seminar -- {% endcomment %}
                {% block carol_instructor %}{% endblock carol_instructor %}
                {% block matheus_instructor %}{% endblock matheus_instructor %}

                {% block both_instructors %}
                <div class="row">
                    <h4>Ministrado por:</h4>
                    <p>Matheus Figueiredo</p>
                    <p>Instrutor Master e Science com mais de 25 cursos de ThetaHealing®, incluindo Anatomia Intuitiva, Doenças e Desordens e Planos de Existência, com vários anos de experiência trabalhando com adultos, jovens e empresas.</p>
                    <br />
                    <p>Carolina Alves</p>
                    <p>Instrutora Master certificada pelo THInK e com mais de 15 cursos de ThetaHealing®, incluindo Anatomia Intuitiva e Criança Arco-íris, com experiência trabalhando com adultos, jovens e empresas.</p>
                </div>
                <div class="row">
                    <h4>Quem são os instrutores?</h4>
                    <p>Matheus é formado em Matemática Aplicada a Negócios, com experiência em Mercados Financeiros, Consultorias e Programação de Computadores.</p>
                    <p>É Instrutor com certicafação em Master e Science de ThetaHealing® e especialista no assunto, tendo o Anatomia Intuitiva como seu curso favorito.</p>
                    <p>Começou no ThetaHealing® como um hobbie, mas sua paixão o levou a trocar de carreira e atualmente utiliza seus conhecimentos para levar as pessoas à melhor versão delas mesmas.</p>
                    <br />
                    <p>Carolina é Administradora de formação, estudou fisioterapia e se especializou em Anatomia Humana e Fisiologia.</p>
                    <p>Sua paixão pelo corpo humano, anatomia e sua vontade de compreender melhor as doenças que são criadas dentro do corpo humano foi tão grande que se tornou Instrutora do curso de Anatomia Intuitiva.</p>
                    <p>Atualmente é instrutora Master em ThetaHealing® e usa seus conhecimentos em saúde para auxiliar as pessoas a viverem sua vida da maneira que sempre sonharam.</p>
                </div>
                {% endblock both_instructors %}

                {% block seminar_date %}03 a 17 de julho{% endblock seminar_date %}
                {% block seminar_time %}Das 09:00 às 18:00{% endblock seminar_time %}
                {% block seminar_location %}À confirmar{% endblock seminar_location %}

                {% block seminar_inscription %}R$300,00 até o dia 23/06/2019, após este dia o valor é R$400,00{% endblock seminar_inscription %}
                {% block seminar_price %}R$4.920,00{% endblock seminar_price %}

                {% block seminar_url %}<a href='http://bit.ly/anatomiaimfsp' target="_blank" >Clique aqui</a></p>{% endblock seminar_url %}
