{% extends "seminars/base-seminars.html" %}
{% load i18n %}
{% load static from staticfiles %}

                {% block seminar_title %}
                    {% trans 'ThetaHealing® Manifestação e Abundância' %}
                {% endblock seminar_title %}

                {% block seminar_subtitle %}
                    {% trans 'Um guia de como viver a sua vida de forma mais abundante em todos os seus aspectos.' %}
                {% endblock seminar_subtitle %}

                {% block seminar_image %}
                    {% static 'core/img/manifesting.png' %}
                {% endblock seminar_image %}
                {% block seminar_image_description %}
                    {% trans 'Manifestação e Abundância - ThetaHealing' %}
                {% endblock seminar_image_description %}

                {% block seminar_content %}
                    <p>Você já se perguntou porque as coisas que você faz dão errado?</p>
                    <p>Por quê você tem dificuldade em receber dinheiro? Ou por quê seu dinheiro some do seu bolso sem você nem mesmo perceber?</p>
                    <p>Neste curso de manifestação e abundância tratamos várias crenças e bloqueios que te impedem de ter abundância em sua vida. Isto inclui amigos, família, dinheiro e muito mais.
                    <p>Aprendemos técnicas também que te ajudam a encontrar e entender seu propósito de vida, o que você veio fazer nesta Terra, o que te motiva e o que você fará que terá toda a ajuda do Universo para que tudo de certo.</p>
                    <p>Libere os bloqueios e crenças que impedem que suas manifestações aconteçam em sua vida e utilize técnicas combinadas para ajudar ainda mais neste processo.</p>
                {% endblock seminar_content %}

                {% block seminar_material %}
                    <p>- Apostila</p>
                    <p>- Coffee Break</p>
                    <p>- Certificado internacional do THInK - EUA</p>
                {% endblock seminar_material %}

                {% block seminar_prereq%}
                    <p>DNA Básico, DNA Avançado e Aprofundando no Digging</p>
                {% endblock seminar_prereq%}

                {% comment %}-- Here goes the name of the instructors whom won't gonna teach the seminar -- {% endcomment %}
                {% block matheus_instructor %}{% endblock matheus_instructor %}
                {% block carol_instructor %}{% endblock carol_instructor %}

                {% block seminar_date %}Sem data definida{% endblock seminar_date %}
                {% block seminar_time %}Sábado e domingo das 09:00 às 18:00{% endblock seminar_time %}
                {% block seminar_location %}À confirmar{% endblock seminar_location %}

                {% block seminar_inscription %}R$197,00 {% comment %}até o dia 10/07/2019, após este dia o valor é R$250,00{% endcomment %}{% endblock seminar_inscription %}
                {% block seminar_price %}R$1.290,00{% endblock seminar_price %}

                {% block seminar_url %}{% comment %}<a href='http://bit.ly/manifestacaoimfsp' target="_blank" >Clique aqui</a></p>{% endcomment %}Sem data prevista{% endblock seminar_url %}
