{% extends "core/base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block active_seminars_menu %}active{% endblock active_seminars_menu %}

        {% block everything %}
        <!-- begin #work -->
        <div id="work" class="content" data-scrollview="true">
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInDown">
                <h2 class="content-title">{% trans 'Nossos Cursos' %}</h2>
                <p class="content-desc">
                    {% trans 'Abaixo estão os cursos oferecidos por nossos profissionais nas diversas técnicas que trabalhamos' %}
                </p>
                {% for sub_list in seminar_list %}
                <!-- begin row -->
                <div class="row row-space-10">
                    {% for seminar in sub_list %}
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href="{% url 'seminars:seminars' %}{{ seminar.url }}"><img src="{% static seminar.image_url %}" alt="{% trans 'DNA Básico - ThetaHealing' %}" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">{{ seminar.name }}</span>
                                <span class="desc-text">{% if seminar.modality == 0 %}ThetaHealing®{% elif seminar.modality == 1 %}Access Consciousness®{% endif %}</span>
                            </div>
                        </div>
                        <p class="text-center">{% if seminar.modality == 0 %}ThetaHealing®{% elif seminar.modality == 1 %}Access Consciousness®{% endif %} - {{ seminar.name }}</p>
                        <!-- end work -->
                    </div>
                    <!-- end col-3 -->
                    {% endfor %}
                </div>
                <!-- end row -->
                {% endfor %}
            </div>
            <!-- end container -->
        </div>
        <!-- end #work -->
        {% endblock everything %}
