{% extends "core/base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block active_seminars_menu %}active{% endblock active_seminars_menu %}

        {% block everything %}
        <!-- begin #work -->
        <div id="work" class="content" data-scrollview="true">
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInDown">
                <h2 class="content-title">{% trans 'Nossos Cursos' %}</h2>
                <p class="content-desc">
                    {% trans 'Abaixo estão os cursos oferecidos por nossos profissionais nas diversas técnicas que trabalhamos' %}
                </p>
                <!-- begin row -->
                <div class="row row-space-10">
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href="{% url 'seminars:basic-dna' %}"><img src="{% static 'core/img/basic.png' %}" alt="{% trans 'DNA Básico - ThetaHealing' %}" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">{% trans 'DNA Básico' %}</span>
                                <span class="desc-text">ThetaHealing®</span>
                            </div>
                        </div>
                        <p class="text-center">{% trans 'ThetaHealing® - DNA Básico' %}</p>
                        <!-- end work -->
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href=""><img src="{% static 'core/img/advanced.png' %}" alt="{% trans 'DNA Avançado - ThetaHealing' %}" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">{% trans 'DNA Avançado' %}</span>
                                <span class="desc-text">ThetaHealing®</span>
                            </div>
                        </div>
                        <!-- end work -->
                        <p class="text-center">{% trans 'ThetaHealing® - DNA Avançado' %}</p>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href=""><img src="{% static 'core/img/dig-deeper.png' %}" alt="{% trans 'Aprofundando no Digging - ThetaHealing' %}" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">{% trans 'Aprofundando no Digging' %}</span>
                                <span class="desc-text">ThetaHealing®</span>
                            </div>
                        </div>
                        <!-- end work -->
                        <p class="text-center">{% trans 'ThetaHealing® - Aprofundando no Digging' %}</p>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href=""><img src="{% static 'core/img/manifesting.png' %}" alt="{% trans 'Manifestação e Abundância - ThetaHealing' %}" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">{% trans 'Manifestação e Abundância' %}</span>
                                <span class="desc-text">ThetaHealing®</span>
                            </div>
                        </div>
                        <!-- end work -->
                        <p class="text-center">{% trans 'ThetaHealing® - Manifestação e Abundância' %}</p>
                    </div>
                    <!-- end col-3 -->
                </div>
                <!-- end row -->
                <!-- begin row -->
                <div class="row row-space-10">
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href=""><img src="{% static 'core/img/you-and-your-significant-others.png' %}" alt="{% trans 'Relacionamentos I: Você e seu Parceiro - ThetaHealing' %}" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">{% trans 'Você e seu Parceiro' %}</span>
                                <span class="desc-text">ThetaHealing®</span>
                            </div>
                        </div>
                        <!-- end work -->
                        <p class="text-center">{% trans 'ThetaHealing® - Você e seu Parceiro' %}</p>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href=""><img src="{% static 'core/img/you-and-the-creator.png' %}" alt="{% trans 'Relacionamentos II: Você e o Criador - ThetaHealing' %}" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">{% trans 'Você e o Criador' %}</span>
                                <span class="desc-text">ThetaHealing®</span>
                            </div>
                        </div>
                        <!-- end work -->
                        <p class="text-center">{% trans 'ThetaHealing® - Você e o Criador' %}</p>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href=""><img src="{% static 'core/img/you-and-your-inner-circle.png' %}" alt="{% trans 'Relacionamentos III: Você e seu Círculo Íntimo - ThetaHealing' %}" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">{% trans 'Você e seu Círculo Íntimo' %}</span>
                                <span class="desc-text">ThetaHealing®</span>
                            </div>
                        </div>
                        <!-- end work -->
                        <p class="text-center">{% trans 'ThetaHealing® - Você e seu Círculo Íntimo' %}</p>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href=""><img src="{% static 'core/img/you-and-the-earth.png' %}" alt="{% trans 'Relacionamentos IV: Você e a Terra - ThetaHealing' %}" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">{% trans 'Você e a Terra' %}</span>
                                <span class="desc-text">ThetaHealing®</span>
                            </div>
                        </div>
                        <!-- end work -->
                        <p class="text-center">{% trans 'ThetaHealing® - Você e a Terra' %}</p>
                    </div>
                    <!-- end col-3 -->
                </div>
                <!-- end row -->
                <!-- begin row -->
                <div class="row row-space-10">
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href=""><img src="{% static 'core/img/world-relations.png' %}" alt="{% trans 'Relações Mundiais - ThetaHealing' %}" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">{% trans 'Relações Mundiais' %}</span>
                                <span class="desc-text">ThetaHealing®</span>
                            </div>
                        </div>
                        <!-- end work -->
                        <p class="text-center">{% trans 'ThetaHealing® - Relações Mundiais' %}</p>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href=""><img src="{% static 'core/img/intuitive-anatomy.png' %}" alt="{% trans 'Anatomia Intuitiva - ThetaHealing' %}" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">{% trans 'Anatomia Intuitiva' %}</span>
                                <span class="desc-text">ThetaHealing®</span>
                            </div>
                        </div>
                        <!-- end work -->
                        <p class="text-center">{% trans 'ThetaHealing® - Anatomia Intuitiva' %}</p>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href=""><img src="{% static 'core/img/dna-3.png' %}" alt="{% trans 'DNA 3' %}" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">{% trans 'DNA 3' %}</span>
                                <span class="desc-text">ThetaHealing®</span>
                            </div>
                        </div>
                        <!-- end work -->
                        <p class="text-center">{% trans 'ThetaHealing® - DNA 3' %}</p>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href=""><img src="{% static 'core/img/planes.png' %}" alt="{% trans 'Planos de Existência' %}" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">{% trans 'Planos de Existência' %}</span>
                                <span class="desc-text">ThetaHealing®</span>
                            </div>
                        </div>
                        <!-- end work -->
                        <p class="text-center">{% trans 'ThetaHealing® - Planos de Existência' %}</p>
                    </div>
                    <!-- end col-3 -->
                </div>
                <!-- end row -->
                <!-- begin row -->
                <div class="row row-space-10">
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href=""><img src="{% static 'core/img/disease-and-disorder.png' %}" alt="{% trans 'Doenças e Desordens - ThetaHealing' %}" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">{% trans 'Doenças e Desordens' %}</span>
                                <span class="desc-text">ThetaHealing®</span>
                            </div>
                        </div>
                        <!-- end work -->
                        <p class="text-center">{% trans 'ThetaHealing® - Doenças e Desordens' %}</p>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href=""><img src="{% static 'core/img/crianca_arco_iris.png' %}" alt="{% trans 'Criança Arco-íris - ThetaHealing' %}" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">{% trans 'Criança Arco-íris' %}</span>
                                <span class="desc-text">ThetaHealing®</span>
                            </div>
                        </div>
                        <!-- end work -->
                        <p class="text-center">{% trans 'ThetaHealing® - Criança arco-íris' %}</p>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href=""><img src="{% static 'core/img/barras_access.jpg' %}" alt="{% trans 'Barras de Access - Access Consciousness' %}" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">{% trans 'Barras de Access®' %}</span>
                                <span class="desc-text">Access Consciousness®</span>
                            </div>
                        </div>
                        <!-- end work -->
                        <p class="text-center">{% trans 'Access Consciousness - Barras de Access®' %}</p>
                    </div>
                    <!-- end col-3 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #work -->
        {% endblock everything %}
