{% extends "seminars/base-seminars.html" %}
{% load i18n %}
{% load static from staticfiles %}

                {% block seminar_materials %}
                <div class="row">
                    <h4>O curso inclui:</h4>
                    {% for material in seminar_type.materials.all %}
                    <p>- {{ material }}</p>
                    {% endfor %}
                </div>
                {% endblock seminar_materials %}
                {% block seminar_pre_requisites %}
                <div class="row">
                    <h4>Pré-requisitos:</h4>
                    {% if seminar_type.prerequisites.all  %}
                    {% for seminar_pre in seminar_type.prerequisites.all %}
                    <p>- {{ seminar_pre.name }}
                    {% endfor %}
                    {% else %}
                    <p>Não há pré-requisitos.</p>
                    {% endif %}
                </div>
                {% endblock seminar_pre_requisites %}

                {% block next_seminars %}
                <div class="row text-center">
                    <h4>Avise-me sobre os próximos seminários de {{ seminar_type.name }} ministrados pelo Universo Quântico:</h4>
                </div>
                {% endblock next_seminars %}
