.brand-logo.main-header {
  border: none;
  margin-top: -18px;
}

.logo-image{
  height: 50px;
}

.footer-logo-image{
  width: 500px;
}

@media only screen and (max-width: 992px) {
  .footer-logo-image{
    width: 300px;
  }
}

.footer {
  background: #203460;
}

.container .content-title {
  padding-top: 15px;
}

.main-image {
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .main-image {
    padding-top: 40px;
  }
}

.text-imf {
  color: #8F8E8E;
}

.mini-image {
  width: 128px;
}

.navbar-small {
  padding-top: 10px;
}
