.brand-logo.main-header {
  border: none;
  margin-top: -15px;
}
@media only screen and (max-width: 500px) {
  .brand-logo.main-header {
    margin-top: -25px;
  }
}

.logo-image{
  height: 50px;
}

.footer-logo-image{
  height: 100px;
}

.container .content-title {
  padding-top: 15px;
}

.main-image {
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .main-image {
    padding-top: 40px;
  }
}

.text-imf {
  color: #8F8E8E;
}

.mini-image {
  width: 128px;
}

.content.has-bg .content-bg:before {
  opacity: 0.2;
  filter: alpha(opacity=20); /* For IE8 and earlier */
}

.navbar-small {
  padding-top: 10px;
}
