{% extends "core/base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block active_aboutus_menu %}active{% endblock active_aboutus_menu %}


        {% block everything %}
        <!-- begin #about -->
        <div id="about" class="content" data-scrollview="true">
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInDown">
                <h2 class="content-title">{% trans 'Sobre Nós' %}</h2>
                <p class="content-desc">
                    {% trans 'O Universo Quântico tem como objetivo trazer à consciência das pessoas que elas estão no comando de suas vidas e que podem criar sua realidade de acordo com sua própria vontade.' %}
                </p>
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-6">
                        <!-- begin about -->
                        <div class="about">
                            <h3>{% trans 'Nossa História' %}</h3>
                            <p>
                                {% trans 'Criado com o intuito de ajudar as pessoas do Brasil e de todo o mundo a ter a vida que tanto sonharam, livre de doenças, livre de problemas, vivendo bem com sua família e amigos e conseguindo a estabilidade financeira e profissional que tanto sonham.' %}
                            </p>
                            <p>
                                {% trans 'O Universo Quântico faz isto com profissionais que possuem diferentes habilidades e recursos, que abdicaram de suas carreiras principais para poder ajudar outras pessoas a encontrar o melhor caminho para suas vidas através de técnicas de desenvolvimento humano.' %}
                            </p>
                        </div>
                        <!-- end about -->
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-6">
                        <h3>{% trans 'Nossa Filosofia' %}</h3>
                        <!-- begin about-author -->
                        <div class="about-author">
                            <div class="quote bg-silver">
                                <i class="fa fa-quote-left"></i>
                                <h3><span>{% trans 'Buscamos ajudar as pessoas a ter a vida que realmente desejam' %}</span></h3>
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="author">
                                <div class="image">
                                    <img class="mini-image" src="{% static 'core/img/matheus_figueiredo.jpeg' %}" alt="Matheus Figueiredo" />
                                </div>
                                <div class="info">
                                    Matheus Figueiredo
                                    <small>{% trans 'Fundador do Universo Quântico' %}</small>
                                </div>
                            </div>
                        </div>
                        <!-- end about-author -->
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-12">
                        <h3>{% trans 'Nossa Experiência' %}</h3>
                        <p>{% trans 'Trabalhamos com técnicas mundialmente conhecidas como ThetaHealing® e Access Consciousness®.' %}</p>
                        <p>{% trans 'Temos profissionais que já atuaram em vários lugares do Brasil e do mundo. Ministando cursos, dando palestras e fazendo atendimentos pessoais.' %}</p>
                        <p>{% trans 'Nosso espaço já recebeu treinamentos de várias técnias e de profissionais de vários locais do mundo. E estamos sempre buscando o melhor conteúdo para as pessoas que o frequentam.' %}</p>
                    </div>
                    <!-- end col-4 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #about -->

        <!-- beign #action-box -->
        <div id="action-box" class="content has-bg" data-scrollview="true">
            <!-- begin content-bg -->
            <div class="content-bg">
                <img src="{% static 'assets/img/action-bg.jpg' %}" alt="Action" />
            </div>
            <!-- end content-bg -->
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInRight">
                <!-- begin row -->
                <div class="row action-box">
                    <!-- begin col-12 -->
                    <div class="col-md-12 quote">
                        <i class="fa fa-quote-left"></i>{% trans 'Existe uma forma muito fácil de mudar a vida que a maioria das pessoas ainda não conhece.' %}
                        <i class="fa fa-quote-right"></i>
                        <small>{% trans 'Matheus Figueiredo, Fundador e Instrutor do Universo Quântico' %}</small>
                    </div>
                    <!-- end col-12 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #action-box -->
        {% endblock everything %}
