{% extends "core/base.html" %}
{% load i18n %}
{% load static from staticfiles %}

  {% block postcss %}
  <link href="{% static 'core/css/home.css' %}" rel="stylesheet" />
  {% endblock postcss %}

{% block active_home_menu %}active{% endblock active_home_menu %}

        {% block everything %}
        <!-- begin #home -->
        <div id="home" class="content has-bg home">
            <!-- begin content-bg -->
            <div class="content-bg">
                <!-- <img src="{% static 'assets/img/home-bg.jpg' %}" alt="Home" /> -->
                <img class="main-image" src="{% static 'core/img/perfil_universo_quantico_altered.jpg' %}" alt="Home" />
            </div>
            <!-- end content-bg -->
            {% comment %}
            <!-- begin container -->
            <div class="container home-content">
                <h1>Universo Quântico</h1>
                <h3>Desenvolvimento Humano, Pessoal,</br> Espiritual e Profissional</h3>
                <h5>Ajudando pessoas e empresas a alcançar seus objetivos, sonhos e a vida que desejam ter</h5>
            </div>
            <!-- end container -->
            {% endcomment %}
        </div>
        <!-- end #home -->

        <!-- begin #client -->
        <div id="client" class="content has-bg bg-green" data-scrollview="true">
            <!-- begin content-bg -->
            <div class="content-bg">
                <img src="{% static 'assets/img/client-bg.jpg' %}" alt="Client" />
            </div>
            <!-- end content-bg -->
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInUp">
                <h2 class="content-title">{% trans 'Depoimento de nossos clientes' %}</h2>
                <!-- begin carousel -->
                <div class="carousel testimonials slide" data-ride="carousel" id="testimonials">
                    <!-- begin carousel-inner -->
                    <div class="carousel-inner text-center">
                        <!-- begin item -->
                        <div class="item active">
                            <blockquote>
                                <i class="fa fa-quote-left"></i>
                                    {% trans 'Estava com os exames e tudo pronto para fazer minha cirurgia, mas retornei ao médico <br />após um atendimento e ele me disse que eu não tinha mais <br />nada e me mandou de volta para casa, sem entender como aquilo tinha acontecido.' %}
                                <i class="fa fa-quote-right"></i>
                            </blockquote>
                            <div class="name"> — <span class="text-theme">Maria Antônia</span>, {% trans 'Aposentada' %}</div>
                        </div>
                        <!-- end item -->
                        <!-- begin item -->
                        <div class="item">
                            <blockquote>
                                <i class="fa fa-quote-left"></i>
                                    {% trans 'Me senti muito mais calmo e preparado para os desafios do meu dia-a-dia e <br />da minha empresa após algumas sessões que fiz. Recomendo!' %}
                                <i class="fa fa-quote-right"></i>
                            </blockquote>
                            <div class="name"> — <span class="text-theme">Diego Antunes</span>, {% trans 'Empresário' %}</div>
                        </div>
                        <!-- end item -->
                        <!-- begin item -->
                        <div class="item">
                            <blockquote>
                                <i class="fa fa-quote-left"></i>
                                    {% trans 'O ThetaHealing mudou minha vida para muito melhor. <br />Agora consigo tudo que desejo e minha vida está muito mais fácil!' %}
                                <i class="fa fa-quote-right"></i>
                            </blockquote>
                            <div class="name"> — <span class="text-theme">Jéssica Silva</span></div>
                        </div>
                        <!-- end item -->
                    </div>
                    <!-- end carousel-inner -->
                    <!-- begin carousel-indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonials" data-slide-to="1" class=""></li>
                        <li data-target="#testimonials" data-slide-to="2" class=""></li>
                    </ol>
                    <!-- end carousel-indicators -->
                </div>
                <!-- end carousel -->
            </div>
            <!-- end containter -->
        </div>
        <!-- end #client -->

        {% endblock everything %}

  {% block postjs %}
  <script src="{% static 'core/js/home.js' %}"></script>
  {% endblock postjs %}
